.modal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 3rem;
    justify-content: center;
    margin-top: 3rem;
}

.btn{
    display: block;
    border: none;
    background-color: darkgray;
    color: white;
    width: 160px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

.btn:hover{
    cursor: pointer;
    width: 161px;
    height: 51px;
}

.popup{
    position: fixed;
    width: 50%;
    min-height: 80vh;
    overflow-y: auto;
    background-color: white;
    z-index: 10;
    border-radius: 10px;
}

.backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.presp{
    width: 98%;
    float: left;
    margin: 1% 0 0  1%;
}

.title{
    margin-bottom: 3rem;
}

.presp h4{
    border-bottom: 1px solid lightgray;
    height: 2rem;
    width: 60%;
    float: left;
}

.presp p{
    width: 25%;
    height: 2rem;
    justify-content: center;
    float: right;
    text-align: right;
    border-bottom: 1px solid lightgray;
}

.themeBtn {
    display: inline-block;
    color: #1DA1F2;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    float: right;
    margin: -50px 16px 0 0;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
}

.themeBtn:hover{
    color: white;
    background-color: #1DA1F2;
}

.pick{
    margin-left: 20px;
    display: inline-block;
    width: 30px;
    height: 25px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.pick:hover{
    cursor: pointer;
}

.btnBox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    justify-content:flex-end;
}

.btn-p{
    display: inline-block;
    padding: 10px;
    width: 6rem;
    height: 40px;
    border: 1px solid;
    border-radius: 2px;
    margin-right: 3rem;
}

.btnCancel{
    border-color: grey;
    background-color: white;
    color: grey;
}

.btnCancel:hover{
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
}

.btnSave{
    border-color: #2072EF;
    background-color: #2072EF;
    color: white;
}

.btnSave:hover{
    background-color: #0053D1;
    cursor: pointer;
    border: none;
}

span{
    position: fixed;
    top: 25%;
    left: 45%;
    z-index: 100;
}


@media all and (max-width: 1230px){

    .buttons p{
        margin-left: 20%;
    }

    span{
        left: 40%;
    }
}


@media all and (max-width: 914px){
    .presp p{
        width: 7rem;
        border-bottom: none;
    }

    span{
        left: 0;
    }
}

@media all and (max-width: 632px){
    .presp{
        align-items: center;
    }

    .presp h4{
        border-bottom: none;
    }

    .presp p{
        float: left;
        border-bottom: 1px solid lightgray;
    }

    .themeBtn{
        float: left;
        margin-top: -15px;
    }

    .btnCancel, .btnSave{
        margin-bottom: 20px;
        width: 30%;
    }

    span{
        right: 0;
        left: unset;
    }
}

@media all  and (max-width: 480px){
    .btnCancel, .btnSave{
        margin-bottom: 20px;
        width: 25%;
    }

    span{
        margin-top: 35px;
        top: inherit;
    }
}


